{{> Icons }}
<main class="loginPage">
    <div class="loginPage__left"></div>
    <div class="loginPage__right">
        <div class="loginPage__form">
            {{> Form (loginFormConfig) }}
        </div>
    </div>
</main>