{{> Icons }}
<main class="loginPage">
    <div class="loginPage__logo-container"></div>
    <div class="loginPage__form-container">
        {{> Form title='Вход' inputs=(loginFormInputs) buttons=(loginFormButtons) }}
    </div>
</main>