{{#> ShadowBox }}
    <form class="changeAvatarForm" id="change-avatar-form">
        <h2 class="changeAvatarForm__title {{#if errorOnLoad}}changeAvatarForm__title_error{{/if}}">{{title}}</h2>
        <div class="changeAvatarForm__content">
            {{#if file}}
                <p class="filename">{{file}}</p>
            {{else}}
                <label class="input">
                    Выбрать файл на компьютере
                    <input type="file" name="avatar" hidden />
                </label>
            {{/if}}
        </div>
        <div class="changeAvatarForm__bottom">
            {{> Button type="submit" variant="primary" fill="solid" text="Поменять" align="center" }}
            {{#if noFileClick}}<p class="changeAvatarForm__no-file-click">Нужно выбрать файл</p>{{/if}}
        </div>
    </form>
{{/ShadowBox}}
