<div class="form-input-wrapper">
    <label class="form-input">
        <input class="form-input__input {{#if errorMessage}}form-input__input_error{{/if}}" type="{{type}}" name="{{name}}" placeholder="" {{#if required}}required{{/if}}/>
        <div class="form-input__label">{{label}}</div>
    </label>
    <div class="form-input-wrapper__error">{{errorMessage}}</div>
</div>