.form-input-wrapper {
    padding: 15px 0;
    position: relative;

    &:first-of-type .form-input {
        display: block;
    }

    .form-input {
        display: block;
        position: relative;

        &::after {
            content: '';
            height: 1px;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color-primary-tint);
            transition: background-color 0.3s ease-in-out;
        }

        &:has(.form-input__input:focus)::after {
            background-color: var(--color-primary);
        }

        .form-input__input {
            height: 18px;
            width: 100%;
            font: var(--text-text);
            outline: none;
            border: none;
        }

        .form-input__input_error {
            color: var(--color-danger);
        }

        .form-input__input:focus ~ .form-input__label,
        .form-input__input:not(:placeholder-shown) ~ .form-input__label {
            font: var(--text-caption);
            transform: translateY(-12px);
        }

        .form-input__label {
            position: absolute;
            left: 2px;
            top: -4px;
            font: var(--text-text);
            color: var(--color-medium);
            transition: all 0.3s ease-in-out;
        }
    }

    .form-input-wrapper__error {
        position: absolute;
        left: 2px;
        bottom: 0;
        font: var(--text-caption);
        color: var(--color-danger);
    }
}
