.main {
    height: 100dvh;
    display: grid;
    grid-template-columns: 325px auto;
}

.main__left {
    height: 100dvh;
    display: grid;
    grid-template-rows: repeat(3, 50px) 1fr;
    background-color: var(--color-medium-tint);
    border-right: 1px solid var(--color-light-shade);

    .button-wrapper {
        padding: 10px;
    }
}

.main__right {
    height: 100dvh;
    background-color: var(--color-light);

    .feed {
        height: 100dvh;
        display: grid;
        grid-template-rows: 60px 1fr 60px;

        .feed__top {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--color-light-shade);

            .header {
                display: flex;
                gap: 10px;
                align-items: center;

                .header__avatar {
                    width: 34px;
                    height: 34px;
                }

                .header__text {
                    font: var(--text-h3);
                }
            }
        }

        .feed__bottom {
            height: 48px;
            padding: 0 10px;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            align-self: center;
            border-top: 1px solid var(--color-light-shade);
        }
    }
}
