{{> Icons }}
<main class="main">
    <div class="main__left">
        <div class="profile-button-wrapper">
            {{> Button type="button" variant="medium" fill="ghost" icon="alt-arrow" text="Профиль" align="right"
            iconLast=true }}
        </div>
        <form class="chat-search-form" id="chat-search">
            <input class="chat-search-form__input" type="text" name="message" placeholder="Поиск" />
        </form>
        <div class="profile-button-wrapper">
            {{> Button type="button" variant="primary" fill="solid" text="Создать группу"}}
        </div>
        {{> ChatList }}
    </div>
    <div class="main__right">
        <div class="feed">
            <div class="feed__top">
                <div class="header">
                    <div class="header__avatar">
                        {{> Avatar src="https://source.unsplash.com/random/200x200" name=chatName}}
                    </div>
                    <h1 class="header__text">{{chatName}}</h2>
                </div>
                {{> Button type="button" variant="primary" fill="ghost" icon="settings" asIconButton=true}}
            </div>
            {{> MessageList }}
            <div class="feed__bottom">
                {{> Button type="button" variant="primary" fill="ghost" icon="paperclip" asIconButton=true}}
                <form class="message-form" id="message-form">
                    <input class="message-form__input" type="text" name="message" placeholder="Сообщение"
                        autocomplete="off" />
                </form>
                {{> Button type="button" variant="primary" fill="solid" icon="arrow-right" asIconButton=true}}
            </div>
        </div>
    </div>
</main>
