.navigation {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font: var(--text-text);

    a {
        text-decoration: none;
        color: var(--color-primary);

        &:hover {
            color: var(--color-primary-shade);
        }
    }
}
