<ul class='navigation'>
    <li><a href='#' page='login'>Login</a></li>
    <li><a href='#' page='registration'>Registration</a></li>
    <li><a href='#' page='main'>Main</a></li>
    <li><a href='#' page='profile'>Profile</a></li>
    <li><a href='#' page='profile-change-info'>Profile change info</a></li>
    <li><a
            href='#'
            page='profile-change-password'
        >Profile change password</a></li>
    <li><a href='#' page='error-404'>Error 404</a></li>
    <li><a href='#' page='error-500'>Error 500</a></li>
    <li><a href='#' page='test'>Popups and tooltips</a></li>
</ul>