<div class="messageList">
  {{#each (feed)}}
    <h4 class="messageList__date">{{date}}</h4>
    <ul class="messageList__daily-list">
      {{#each messages}}
        {{> MessageListItem}}
      {{/each}}
    </ul>
  {{/each}}
</div>
