.registrationPage {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .registrationPage__left {
        background: var(--color-gradient);
    }

    .registrationPage__right {
        display: grid;

        .registrationPage__form {
            width: calc(100% - 24px);
            max-width: 340px;
            place-self: center;
        }
    }
}
