.registrationPage {
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.registrationPage__logo-container {
    background: var(--color-gradient);
}

.registrationPage__form-container {
    width: calc(100% - 24px);
    max-width: 340px;
    display: flex;
    align-self: center;
    justify-self: center;
}
