{{> Icons }}
<main class="registrationPage">
    <div class="registrationPage__left"></div>
    <div class="registrationPage__right">
        <div class="registrationPage__form">
            {{> Form (registrationFormConfig) }}
        </div>
    </div>
</main>