{{> Icons }}
<main class="registrationPage">
    <div class="registrationPage__logo-container"></div>
    <div class="registrationPage__form-container">
        {{> Form title='Регистрация' inputs=(registrationFormInputs) buttons=(registrationFormButtons) }}
    </div>
</main>