<div class="attachmentButtons">
    {{#> ShadowBox smallPadding=true}}
    <ul class="attachmentButtons-list">
        <li class="attachmentButtons-list__item">
            {{> Button type="button" variant="primary" fill="ghost" text="Фото или Видео" align="left"
            icon="image"}}
        </li>
        <li class="attachmentButtons-list__item">
            {{> Button type="button" variant="primary" fill="ghost" text="Файл" align="left" icon="file"}}
        </li>
        <li class="attachmentButtons-list__item">
            {{> Button type="button" variant="primary" fill="ghost" text="Локация" align="left" icon="location"}}
        </li>
    </ul>
    {{/ShadowBox}}
</div>