<div class="chatSettings">
    {{#> ShadowBox smallPadding=true}}
    <ul class="chatSettings-list">
        {{#each (getChatSettingsButtonList type) }}
            {{> Button }}
        {{/each}}
    </ul>
    {{/ShadowBox}}
</div>
