<div class="icon {{#if small}}icon_small{{/if}}">
    <svg width="{{#if small}}12{{else}}24{{/if}}" height="{{#if small}}12{{else}}24{{/if}}">
        <use xlink:href="#{{icon}}-ico"/>
    </svg>
</div>
