{{> Icons }}
<div class="tooltipAndPopupGallery">

    {{> AttachmentButtons }}
    
    {{> ChatSettings }}

    <div style="display: flex; gap: 24px">
        {{> ChatSettingsForm config=(chatSettingsFormAddUser) }}
        {{> ChatSettingsForm config=(chatSettingsFormRemoveUser) }}
    </div>

    <div style="display: flex; gap: 24px; flex-wrap: wrap;">
        {{> ChangeAvatarForm title="Загрузите файл" }}
        {{> ChangeAvatarForm 
            title="Файл загружен"
            file="avatar-with-long-name-coz-why-not-why-not-why-not-why-not.jpg"
        }}
        {{> ChangeAvatarForm 
            title="Файл загружен"
            noFileClick=true
        }}
        {{> ChangeAvatarForm 
            title="Ошибка, попробуйте ещё раз"
            errorOnLoad=true
        }}
    </div>
</div>