{{> Icons }}
<div class="tooltipAndPopupGallery">

    <div class="group">
        {{> AttachmentButtons }}
    </div>

    <div class="group">
        {{> ChatSettings type='direct' }}
        {{> ChatSettings type='group' }}
        {{> ChatSettings type='changeGroup' }}
    </div>

    <div class="group">
        {{> ChatSettingsForm type='addUser' }}
        {{> ChatSettingsForm type='removeUser' }}
        {{> ChatSettingsForm type='changeGroupName' }}
        {{> ChatSettingsForm type='changeGroupAvatar' }}
        {{> ChatSettingsForm type='deleteChat' }}
    </div>

    <div class="group">
        {{> ChangeAvatarForm title="Загрузите файл" }}
        {{> ChangeAvatarForm 
            title="Файл загружен"
            file="avatar-with-long-name-coz-why-not-why-not-why-not-why-not.jpg"
        }}
        {{> ChangeAvatarForm 
            title="Загрузите файл"
            noFileClick=true
        }}
        {{> ChangeAvatarForm 
            title="Ошибка, попробуйте ещё раз"
            errorOnLoad=true
        }}
    </div>
</div>