<main class="errorPage">
    <h1 class="errorPage__code">{{code}}</h1>
    <p class="errorPage__text">{{text}}</p>
    {{> Button type="button" variant="primary" fill="link" text="Назад к чатам" align="center" }}
</main>